@using VoteMyst.Database.Models;
@{
    ViewData["Title"] = "Browse";
    Layout = "_Layout";

    Event[] currentEvents = ViewBag.Current;
    Event[] planned = ViewBag.Planned;
    Event[] history = ViewBag.History;
}

<div class="events">
    @if ((currentEvents?.Length ?? 0) > 0)
    {
        <div class="events-active">
            <h1>Active events</h1>
            <div class="event-container">
                @foreach (Event e in currentEvents)
                {
                    <partial name="_EventInfo" for="@e" />
                }
            </div>
        </div>
    }
    @if ((planned?.Length ?? 0) > 0)
    {
        <div class="events-planned">
            <h1>Planned events</h1>
            <div class="event-container">
                @foreach (Event e in planned)
                {
                    <partial name="_EventInfo" for="@e" />
                }
            </div>
        </div>
    }
    @if ((history?.Length ?? 0) > 0)
    {
        <div class="events-finished">
            <h1>Finished events</h1>
            <div class="event-container">
                @foreach (Event e in history)
                {
                    <partial name="_EventInfo" for="@e" />
                }
            </div>
        </div>
    }
</div>