@using VoteMyst.Database
@using VoteMyst.Database.Models

@model Event
@{
    ViewData["Title"] = "Event";
}

<h1>Event created!</h1>

<div class="panel small message success">
    The event was successfuly created!
</div>