@using VoteMyst.Database

@model Event
@{
    ViewData["Title"] = Model.Title;
    Layout = "_Layout";
}

@section ContentMeta
{
    <meta property="og:title" content="@Model.Title" />
    <meta property="og:description" content="@Model.Description" />
    <meta property="og:image" content="/img/trophy.png" />
}

<partial name="_EventPageHeader" for="@Model" />

<div class="post-display-options">
    <div id="post-display-option-large"><img src="/img/post-display-large.svg"/></div>
    <div id="post-display-option-middle"><img src="/img/post-display-middle.svg"/></div>
    <div id="post-display-option-small"><img src="/img/post-display-smallest.svg"/></div>
</div>

<div class="posts">
@foreach (Entry entry in ViewBag.RandomizedEntries)
{
    <partial name="_Entry" for="@entry" />
}
</div>

@section Scripts {
    <script src="~/js/entry-grid.js" asp-append-version="true"></script>
    <script src="~/js/entry.js" asp-append-version="true"></script>
    <script src="~/js/report.js" asp-append-version="true"></script>
}