@using VoteMyst
@using VoteMyst.Database.Models

@inject AvatarHelper _avatarHelper

@model UserData
@{
    string url = _avatarHelper.GetRelativeAvatarUrl(Model, out string _initials);
}

@if(url != null) 
{
    <img class="avatar" src="@url" />
}
else
{
    <div class="avatar avatar-default">
        <p>@_initials</p>
    </div>
}