@inject AvatarHelper _avatarHelper

@model UserAccount
@{
    string url = _avatarHelper.GetRelativeAvatarUrl(Model, out string initials);
}

@if(url != null) 
{
    <img class="avatar" src="@url" asp-append-version="true" draggable="false"/>
}
else
{
    <div class="avatar avatar-default">
        <p>@initials</p>
    </div>
}