<div class="cookie-disclaimer hidden no-select">
    <div class="text">
        <h1>This website uses cookies.</h1>
        <p>We store technical cookies to keep you logged in and retain your site preferences.</p>
    </div>
    <div class="ok" onclick="confirmCookies()">
        Got it!
    </div>
</div>