<footer>
    <p>
        Copyright &copy;
        <a href="https://github.com/CodeMyst" target="_blank">CodeMyst</a>, 
        <a href="https://github.com/YilianSource" target="_blank">YilianSource</a>, 
        <a href="https://github.com/AquaXV" target="_blank">AquaXV</a>,
        <a href="https://github.com/Duxez" target="_blank">Job</a>
        2020
    </p>
</footer>