<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VoteMyst</title>
    <link rel="stylesheet" href="~/css/theme-dark.css" --theme />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="icon" type="image/png" href="/img/trophy.png"/>
</head>
<body>
    <div class="container">
        <header>
            <a href="/">
                <h1>
                    <img src="/img/trophy.png"/>
                    <span>votemyst</span>
                </h1>
            </a>
            <partial name="_UserWidget.cshtml" />
        </header>
        
        <p class="subheading">a simple website for event voting.</p>
        <partial name="_Navigation" />

        @RenderBody()

        <partial name="_Footer.cshtml" />
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/time.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
