<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VoteMyst</title>
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="icon" type="image/png" href="/img/trophy.png"/>
</head>
<body>
    <div class="container">
        <header>
            <h1 class="heading">
                <img src="/img/trophy.png"/>
                <a href="/">votemyst</a>
            </h1>
            <partial name="_UserWidget.cshtml" />
        </header>
        <p class="subheading">a simple website for event voting. version 0.6.9 (no changelog)</p>

        @RenderBody()

        <partial name="_Footer.cshtml" />
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
