<div id="lightbox">
    <div class="content">
        <img/>
        <div class="close"><i class="fas fa-times"></i></div>
    </div>
</div>

<script src="~/js/lightbox.js" asp-append-version="true"></script>