<div id="lightbox" onclick="closeLightbox()">
    <div class="content" onclick="event.stopPropagation();">
        <img/>
        <div class="close" title="Close the window.">
            <i class="fas fa-times"></i>
        </div>
    </div>
</div>

<script src="~/js/lightbox.js" asp-append-version="true"></script>