<nav>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/events">events</a></li>
        <li><a href="/users/search">find user</a></li>
        <li><a href="/terms">terms</a></li>
    </ul>
</nav>