<ul>
    <li><a href="/">home</a></li>
    <li><a href="/events">events</a></li>

    @if (ViewBag.UserAccount.Permissions.HasFlag(GlobalPermissions.ManageUsers))
    {
        <li><a href="/users/search">find user</a></li>
    }

    @if (ViewBag.UserAccount.Permissions.HasFlag(GlobalPermissions.SiteAdministrator))
    {
        <li><a href="/administration">administration</a></li>
    }
</ul>