@if (User.Identity.IsAuthenticated)
{
    <a href="/users/me" class="widget user-widget">
        <img class="avatar" src="/examples/ex01.png" />
        <p class="username">
            <span class="discord-name">Yilian</span>
            <span class="discord-tag">#2384</span>
        </p>
    </a>
}
else 
{
    <a href="/login" class="widget login-widget">
        <p>Login with Discord</p>
        <img class="discord-logo" src="https://discordapp.com/assets/1c8a54f25d101bdc607cec7228247a9a.svg" />
    </a>
}