<nav>
    <a href="/">Home</a>
    <a href="/events">Browse Events</a>

    @if (ViewBag.HasCurrentEvent)
    {
        <a href=@(ViewBag.IsVotingOpen ? "/vote" : $"/events/{ViewBag.CurrentEventId}")>Current Event</a>
        if (ViewBag.IsSubmissionOpen) 
        {
            <a href="/submit">Submit Entry</a>
        }
    }

    @if (ViewBag.IsAdmin)
    {
        <a href="/events/new">Create Event</a>
    }
</nav>