<nav>
    <a href="/">Home</a>

    @if (ViewBag.HasBrowseableEvents)
    {
        <a href="/events">Browse Events</a>
    }

    @if (ViewBag.HasCurrentEvent)
    {
        <a href="/vote">Current Event</a>
        <a href="/submit">Submit Entry</a>
    }

    @if (ViewBag.HasOutlineEntries)
    {
        <div class="admin">
            @if (ViewBag.CanCreateEvents)
            {
                <a href="/events/new">Create Event</a>
            }
            @if (ViewBag.CanModifyUser)
            {
                <a href="/users">Find User</a>
            }
        </div>
    }

</nav>