@using VoteMyst.Database.Models
@{
    ViewData["Title"] = "Vote";
    Layout = "_Layout";
}

<div class="post-display-options">
    <div id="post-display-option-large"><img src="/img/post-display-large.svg"/></div>
    <div id="post-display-option-middle"><img src="/img/post-display-middle.svg"/></div>
    <div id="post-display-option-small"><img src="/img/post-display-smallest.svg"/></div>
</div>

<div class="posts" event-id="@ViewBag.Event.EventId">
@foreach (Entry e in ViewBag.RandomizedEntries)
{
    @await Component.InvokeAsync("Entry", new { entry = e, displayUser = false, canVote = true })
}
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/entry-grid.js"></script>
    <script type="text/javascript" src="~/js/vote.js"></script>
}