@{
    ViewData["Title"] = "Vote";
    Layout = "_Layout";
}

<div class="post-display-options">
    <div id="post-display-option-large"><img src="/img/post-display-large.svg"/></div>
    <div id="post-display-option-middle"><img src="/img/post-display-middle.svg"/></div>
    <div id="post-display-option-small"><img src="/img/post-display-smallest.svg"/></div>
</div>

<div class="posts">
@for(int i = 0; i < 6; i++)
{
    <div class="post">
        <div class="post-container">
            @if(true /* TODO: Display user? */)
            {
                <div class="post-user">
                    <img src="./examples/ex01.png"/>
                    <p class="username">
                        <span class="discord-name">Yilian</span><span class="discord-tag">#2384</span>
                    </p>
                    <p class="post-date">30/04/2020</p>
                </div>
            }
            <div class="post-image">
                @if(i % 3 == 0) 
                {
                    <img src="./examples/ex01.png"/>
                }
                else 
                {
                    <img src="./examples/ex02.jpg"/>
                }
            </div>
        </div>
    </div>
}
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/entry-grid.js"></script>
}