@{
    ViewData["Title"] = "User";
    Layout = "_Layout";

    var currentUser = ViewBag.User;
}

<div class="user-info">
    <div class="user-info-column">
        <img class="user-avatar" src="/assets/avatars/@(currentUser.DisplayId).png" />
        <p class="username">@currentUser.Username</p>
        @if(currentUser.PermissionGroup != null && currentUser.PermissionGroup != "Default") 
        {
            <p class="user-badge @currentUser.PermissionGroup.ToLower()">
                @currentUser.PermissionGroup
            </p>
        }
        
    </div>
    <table class="user-info-table">
        <tr>
            <th>Join Date:</th>
            <td>@currentUser.JoinDate.ToString("dd/MM/yyyy")</td>
        </tr>
        <tr>
            <th>Total votes:</th>
            <td>0</td>
        </tr>
        <tr>
            <th>Total submissions:</th>
            <td>0</td>
        </tr>
    </table>

    <a href="/logout" class="logout-button">
        Log Out
    </a>
</div>

<input style="display:none" type="checkbox" checked="true" onchange="theme()" />

<script>
    function theme() {
        let useDark = document.querySelector("input").checked;
        document.querySelector("link[--theme-css]")
            .setAttribute("href", useDark
                ? "/css/variables-dark.css"
                : "/css/variables-light.css");
    }
</script>