@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

<div class="home-container no-event">
    <h1>It's empty around here ...</h1>
    <p>It seems like no events are happening or scheduled.</p>
    <p>
        In the meantime, why not browse through some
        <a href="/events">old events</a>?
    </p>
</div>