@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="welcome-container">
    <h1>Welcome to VoteMyst!</h1>
    <p>This is a service that is all about creative events!</p>
    <p>
        We love seeing people competing in creativity and skill - that's why we provide
        the tools to host and participate in events to everyone!
    </p>
    <p>
        Interested? Check out <a href="/events">the events</a>!
    </p>
</div>