.panel {
    display: block;
    position: relative;
    box-sizing: border-box;

    padding: 1rem;
    margin: 1rem 0;
    width: 100%;
    
    background-color: var(--color-dark-gray);
    border-radius: var(--panel-border-radius);
}
.panel.small {
    width: 100%;
    max-width: 640px;
}
.panel.message {
    padding: 0.8rem 1.6rem;
}
.panel > * {
    margin: 0;
}
.message.success {
    background-color: var(--color-success-panel);
}
.message.warning {
    background-color: var(--color-warning-panel);
}
.message.error {
    background-color: var(--color-error-panel);
}
.disclaimer {
    margin: 1rem 0;
    padding: 0 2rem;
    font-size: 0.9rem;
    color: var(--color-light-gray);
    white-space: normal;
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.timer {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
.timer > * {
    padding: 0.2rem 0.8rem;
    border-left: 2px solid var(--color-dark-gray);
    line-height: 1.1rem;
}
.timer .prefix {
    font-size: 1rem;
    border: none;
}
.timer .fragment span:first-child {
    font-weight: bold;
}
.timer .fragment span:last-child {
    font-style: italic;
    font-size: 0.7rem;
}

@media (max-width: 640px) {
    .timer {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.modal-container {
    display: flex;
    justify-content: center;
    align-content: center;
    position: fixed;
    top: 0; left: 0;
    bottom: 0; right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
}
.modal {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: auto;
    
    box-sizing: border-box;
    padding: 1rem 2rem;
    width: 400px;
    max-width: 90vw;
    max-height: 90vh;

    background-color: var(--color-dark-gray);
    border-radius: var(--panel-border-radius);
    box-shadow: 3px 5px 10px rgb(0, 0, 0, 0.5);
}
.modal .title {
    margin: 0.6rem 0 0;
    font-size: 1.5rem;
    font-weight: bold;
}
.modal .content {
    margin: 0.8rem 0;
    font-size: 1rem;
    line-height: 1.4rem;
}
.modal .close {
    position: absolute;
    top: 0; right: 0.5rem;
    margin: 0.4rem;
    font-size: 2rem;
    cursor: pointer;
}
.modal .buttons {
    align-self: flex-end;
}
.modal .buttons .modal-button {
    display: inline-block;
    margin-left: 0.5rem;
    padding: 0.1rem 0.8rem;
    border: 1px solid var(--color-mystge);
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    min-width: 50px;
    opacity: 0.5;
}
.modal .buttons .modal-button:hover {
    opacity: 1;
}
.modal .buttons .modal-button.default {
    border-color: var(--color-white);
    color: var(--color-white);
}
.modal .buttons .modal-button.ok {
    border-color: var(--color-success-text);
    color: var(--color-success-text);
}
.modal .buttons .modal-button.cancel {
    border-color: var(--color-error-text);
    color: var(--color-error-text);
}