.message {
    padding: 0.8rem 1.6rem;
    width: 100%;
    max-width: 640px;
    color: var(--color-white);
    margin: 0.5rem 0;
    border-bottom: 2px solid var(--color-drop-shadow);
    border-radius: var(--default-border-radius);
    box-sizing: border-box;
}
.message > * {
    margin: 0;
}
.message.success {
    background-color: var(--color-success);
}
.message.warning {
    background-color: var(--color-warning);
    color: var(--color-nano);
}
.message.error {
    background-color: var(--color-error);
}
.message a {
    color: var(--color-gray-7);
}

.disclaimer {
    margin: 1rem 0;
    padding: 0 2rem;
    font-size: 0.9rem;
    color: var(--color-gray-5);
    white-space: normal;
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.timer {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
.timer > * {
    padding: 0.2rem 0.7rem;
    border-left: 2px solid var(--color-gray-1);
    line-height: 1.1rem;
}
.timer .prefix {
    font-size: 1rem;
    border: none;
}
.timer .fragment span:first-child {
    font-weight: bold;
}
.timer .fragment span:last-child {
    font-style: italic;
    font-size: 0.7rem;
}

@media (max-width: 640px) {
    .timer {
        flex-wrap: wrap;
        justify-content: center;
    }
    .timer .prefix {
        flex-basis: 100%;
        margin: 0.3rem auto 0.6rem;
    }
    .timer > *:nth-child(2) {
        border: none;
    }
}

.modal-container {
    display: flex;
    justify-content: center;
    align-content: center;
    position: fixed;
    top: 0; left: 0;
    bottom: 0; right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
}
.modal {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: auto;
    
    box-sizing: border-box;
    padding: 1rem 2rem;
    width: 400px;
    max-width: 90vw;
    max-height: 90vh;

    background-color: var(--color-gray-0);
    border-radius: var(--default-border-radius);
    border-bottom: var(--border-drop-shadow);
    box-shadow: 3px 5px 10px rgb(0, 0, 0, 0.5);
}
.modal .title {
    margin: 0.6rem 0 0;
    font-size: 1.5rem;
    font-weight: bold;
}
.modal .content {
    margin: 0.8rem 0;
    font-size: 1rem;
    line-height: 1.4rem;
}
.modal .close {
    position: absolute;
    top: 0; right: 0.5rem;
    margin: 0.4rem;
    font-size: 2rem;
    cursor: pointer;
}
.modal .buttons {
    align-self: flex-end;
}
.modal .buttons .modal-button {
    display: inline-block;
    margin-left: 0.5rem;
    padding: 0.1rem 0.8rem;
    border: 1px solid var(--color-mystge);
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    min-width: 50px;
    opacity: 0.5;
}
.modal .buttons .modal-button:hover {
    opacity: 1;
}
.modal .buttons .modal-button.default {
    border-color: var(--color-white);
    color: var(--color-white);
}
.modal .buttons .modal-button.ok {
    border-color: var(--color-success);
    color: var(--color-success);
}
.modal .buttons .modal-button.cancel {
    border-color: var(--color-error);
    color: var(--color-error);
}
.modal input, .modal select, .modal textarea {
    background-color: var(--color-gray-1);
}

.context-menu {
    position: fixed;
    border-radius: var(--default-border-radius);
    border-bottom: var(--border-drop-shadow);
    background-color: var(--color-gray-1);
    padding: 2px;
    min-width: 180px;
    outline: none;
}
.context-menu .item {
    padding: 0.2rem 0.8rem;
    color: var(--color-white);
    border-radius: 5px;
}
.context-menu .item.warning {
    color: var(--color-error);
    font-weight: bold;
}
.context-menu .item.disabled {
    color: var(--color-gray-4);
    font-weight: normal;
}
.context-menu .item:not(.disabled):hover {
    background-color: var(--color-gray-0);
    cursor: pointer;
}
.context-menu .content {
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.06rem;
    margin-left: 8px;
}

.flag-container {
    display: flex;
    flex-direction: row;
}
.flag-description {
    padding-left: 0.4rem;
}
.flag-description h1 {
    margin: 8px 0 0 0;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.6rem;
    letter-spacing: 0.05rem;
    white-space: normal;
}
.flag-description p {
    margin: 0 10px 4px 0;
    font-size: 0.9rem;
    white-space: normal;
}
.flag-container .checkbox {
    margin: auto 0.5rem auto auto;
}

.inline-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.inline-form > * {
    margin: 0.3rem 0;
}

.cookie-disclaimer {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;

    margin: auto;
    padding: 1rem 2rem;
    bottom: 2rem;
    left: 0;
    right: 0;
    width: 800px;
    max-width: 90vw;

    border-radius: var(--default-border-radius);
    border-bottom: var(--border-drop-shadow);
    color: var(--color-gray-7);
    background-color: var(--color-gray-1);
}
.cookie-disclaimer.hidden {
    display: none;
}
.cookie-disclaimer h1 {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2rem;
    margin: 0 0 0.3rem 0;
}
.cookie-disclaimer p {
    font-size: 0.9rem;
    line-height: 1.4rem;
    margin: 0;
}
.cookie-disclaimer .ok {
    cursor: pointer;
    background-color: var(--color-success);
    color: var(--color-nano);
    font-weight: bold;
    padding: 0.3rem 1rem;
    text-align: center;
    border-radius: var(--default-border-radius);
}
.cookie-disclaimer .ok:hover {
    background-color: var(--color-gray-5);
}

@media (max-width: 640px) {
    .cookie-disclaimer {
        flex-direction: column;
    }
    .cookie-disclaimer p {
        margin-bottom: 0.5rem;
    }
}


#notifications {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    max-width: 100vw;
    display: flex;
    flex-direction: column-reverse;
    justify-content: right;
    align-content: flex-start;
}
.notification {
    margin: 0.3rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0.3rem;
    border-bottom: var(--border-drop-shadow);
    font-weight: bold;
}
.notification.blank {
    background-color: var(--color-gray-0);
    color: var(--color-gray-7);
}
.notification.success {
    background-color: var(--color-success);
}
.notification.error {
    background-color: var(--color-error);
}
.notification.warning {
    background-color: var(--color-warning);
}
.notification.success, .notification.error, .notification.warning {
    color: var(--color-nano);
}