.panel {
    display: block;
    box-sizing: border-box;

    padding: 1rem;
    margin: 1rem 0;
    width: 100%;
    
    background-color: var(--color-dark-gray);
    border-radius: var(--panel-border-radius);
}
.panel.small {
    width: 100%;
    max-width: 640px;
}
.panel.message {
    padding: 0.8rem 1.6rem;
}
.panel > * {
    margin: 0;
}
.message.success {
    background-color: var(--color-success-panel);
}
.message.warning {
    background-color: var(--color-warning-panel);
}
.message.error {
    background-color: var(--color-error-panel);
}
.disclaimer {
    margin: 1rem 0;
    padding: 0 2rem;
    font-size: 0.9rem;
    color: var(--color-light-gray);
    white-space: normal;
}

.timer {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
.timer > * {
    padding: 0.2rem 0.8rem;
    border-left: 2px solid var(--color-dark-gray);
    line-height: 1.1rem;
}
.timer .prefix {
    font-size: 1rem;
    border: none;
}
.timer .fragment span:first-child {
    font-weight: bold;
}
.timer .fragment span:last-child {
    font-style: italic;
    font-size: 0.7rem;
}

@media (max-width: 640px) {
    .timer {
        flex-wrap: wrap;
        justify-content: center;
    }
}