.event {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    margin: 0.8rem 0;
    padding: 0.8rem;
    border-radius: 1rem;
    background-color: var(--color-nanolight);
}
.event .event-info {
    margin: 0 auto 1rem 0;
    max-width: 50%;
}
.event .event-info > * {
    margin: 0.2rem;
}
.event .event-info .event-title {
    display: block;
    padding: 0.4rem;
    font-size: 1.5rem;
    font-weight: bold;
}
.event .event-info .event-description {
    color: var(--color-nanolightlight);
    padding-left: 0.4rem;
    font-style: italic;
    font-size: 1.15rem;
    line-height: 1.5rem;
}
.event .event-dates {
    margin: 0 0 auto auto;
    max-width: 50%;
}
.event table.event-dates tr > * {
    color: var(--color-nanolightlight);
}
.event table.event-dates th {
    text-align: right;
    padding-right: 0.5rem;
}
.event .event-state {
    margin: auto auto 0 0;
    width: 100%;
    color: var(--color-nanolightlight);
}

@media (max-width: 640px) {
    .event {
        flex-direction: column;
    }
    .event > * {
        width: 100%;
        max-width: 100% !important;
        margin: 0.3rem 0 !important;
    }
}