.events > h1 {
    margin: 2.5rem 0 1.5rem;
}

.event {
    display: flex;
    flex-wrap: wrap;

    margin: 0.8rem 0;
    padding: 0.8rem;
    box-sizing: border-box;

    border-radius: var(--default-border-radius);
    border-bottom: var(--border-drop-shadow);
    background-color: var(--color-gray-0);
}
.event .event-info {
    margin: 0 auto auto 0;
    width: 100%;
}
.event .event-info > * {
    margin: 0.2rem;
}
.event .event-info .event-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.event .event-info .event-header > *{
    padding-right: 0.5rem;
}
.event .event-info .event-header .event-type {
    padding: 0 1.3rem;
    margin: 0.4rem 0 auto 0;
    border-radius: 0.8rem;
    color: var(--color-white);
    background-color: var(--color-gray-2);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.7rem;
    line-height: 2;
    letter-spacing: 0.08rem;
}
.event .event-art {
    /* color: var(--color-event-art) !important; */
    background-color: var(--color-event-art) !important;
}
.event .event-timestamp {
    color: var(--color-gray-6);
    margin: 0 0 auto auto;
}
.event .event-hidden {
    color: var(--color-gray-4);
    margin: 0 0 auto 0;
}
.event .event-info .event-title {
    margin: 0.5rem 0.2rem 1rem;
    line-height: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}
.event .event-info .event-description {
    color: var(--color-gray-7);
    font-style: italic;
    font-size: 0.9rem;
    line-height: 1.4rem;
}
.event .event-state {
    margin: 0.6rem auto 0 0;
    width: 100%;
    color: var(--color-gray-7);
}


.event-page .event-title {
    font-weight: bold;
    margin: 2rem 0 0 0;
}
.event-page .event-hosts {
    margin: 0;
    color: var(--color-gray-6);
}
.event-page .event-description {
    padding: 0.5rem 0 0.5rem 1rem;
    border-left: 3px solid var(--color-gray-3);
}
.event-page .event-dates {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.event-page .event-dates p {
    margin: 0.1rem 0;
    color: var(--color-gray-3);
}
.event-page .event-dates > div {
    margin: 0.3rem 0.6rem;
}
.event-page .event-dates > div.active p {
    color: var(--color-white);
}
.event-page .event-dates p:last-child {
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}
.event-page .event-datebox {
    margin: 2rem 0;
}
.event-page .event-timer {
    margin: 1rem auto;
    justify-content: center;
}

.event-page .event-navigation {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    border-bottom: 1px solid var(--color-gray-2);
}
.event-page .event-navigation a {
    padding: 0.3rem 1.2rem;
    margin: 0 0.2rem;
    border-radius: 10px 10px 0 0;
    border: 1px solid var(--color-gray-2);
    background-color: var(--color-gray-0);
    text-align: center;
    border-bottom: 0;
}
.event-page .event-navigation a:first-child {
    margin-left: 0;
}
.event-page .event-navigation a.active {
    font-weight: bold;
    letter-spacing: 0.05rem;
}

.event-host {
    display: flex;
    flex-direction: row;
}
.event-host .button {
    height: 28px;
    line-height: 28px;
    margin: 0 0 0 auto;
    background-color: var(--color-mysted);
}
.event-host .button:hover {
    background-color: var(--color-mystlue);
}

.submission-button {
    text-align: right;
}
.submission-button .button {
    margin: 0.5rem 0 auto auto;
}

.leaderboard {
    margin-bottom: 4rem;
}
.leaderboard .entry .place p {
    margin: auto 0.5rem auto 0;
    font-weight: bold;
    color: var(--color-gray-7);
}
.leaderboard .entry .place[place="1"] p {
    color: #ffae00;
}
.leaderboard .entry .place[place="2"] p {
    color: #b1a2a2;
}
.leaderboard .entry .place[place="3"] p {
    color: #a35244;
}
.leaderboard .entry .place .votecount {
    color: var(--color-gray-5);
    font-weight: normal;
    font-style: normal;
    font-size: 0.8rem;
    padding-left: 0.2rem;
}
.leaderboard .entry-aspect-small .entry-date {
    display: none;
}

@media (max-width: 640px) {
    .event > * {
        max-width: 100% !important;
        margin: 0.3rem 0 !important;
    }
    .event .event-info .event-header .event-type {
        display: none;
    }
}