form {
    width: 100%;
}

input[type=text], input[type="date"], input[type="datetime"], input[type="datetime-local"], select, textarea {
    background-color: var(--color-gray-1);
    color: var(--color-white);
    border: none;
    border-top: 2px inset var(--color-drop-shadow);
    border-radius: 0.4rem;
    font-family: inherit;
    max-width: 100%;
    padding: 0.4rem 0.5rem;
    box-sizing: border-box;
}
input[type=text]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, select:hover, textarea:hover {
    background-color: var(--color-gray-2);
}
input[type=text], textarea {
    width: 100%;
    max-width: 640px;
    max-height: 200px;
    min-height: 1.1rem;
    resize: vertical;
}

input:focus, select:focus, textarea:focus {
    outline: none;
}

button, .button {
    display: inline-block;
    margin: 0.5rem 0;
    height: 38px;
    line-height: 38px;
    padding: 0 30px;
    background-color: var(--color-mystge);
    color: var(--color-nano);
    border: none;
    border-radius: 4px;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
button:hover, .button:hover {
    background-color: var(--color-mystlue) !important;
    color: var(--color-white);
}
button.thin, .button.thin {
    height: 28px;
    line-height: 28px;
}
button.ok, .button.ok {
    background-color: var(--color-success);
}
button.danger, .button.danger {
    background-color: var(--color-mysted);
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

select option {
    font-size: 2;
}

form table {
    table-layout: fixed;
    width: 100%;
}
form table th {
    text-align: right;
    font-weight: normal;
    vertical-align: baseline;
}
form table th, form table td {
    line-height: 1.5rem;
    padding: 0.3rem;
}
form .row-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    max-width: 640px;
}
form .row-layout div.break {
    flex-basis: 100%;
    margin: 0;
}
form .row-layout > div {
    margin: 0 0.6rem 0.3rem;
    max-width: 100%;
    overflow: auto;
}
form .row-layout p {
    margin: 0.2rem 0;
}


.checkbox {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 26px;
    min-width: 26px;
    background-color: var(--color-gray-1);
    border-top: 2px inset var(--color-drop-shadow);
    border-radius: 0.4rem;
    outline: none !important;
}
.checkbox:hover {
    background-color: var(--color-gray-2);
}
.checkbox > input[type=checkbox] {
    width: inherit;
    height: inherit;
    margin: 0;
    position: absolute;
    top: 0;
    opacity: 0;
    cursor: pointer;
}
.checkbox > div {
    position: absolute;
    border: 0 solid var(--color-mystge);
    border-width: 0 4px 4px 0;
    border-radius: 3px;
    opacity: 0;
    pointer-events: none;
    width: 6px;
    height: 12px;
    top: 5px;
    left: 8px;
    transform: rotate(45deg);
    box-shadow: 1px 1px 0 black;
}
.checkbox:hover > div {
    border-color: var(--color-mystlue);
}
.checkbox > input[type=checkbox]:checked + div {
    opacity: 1;
}