form {
    width: 100%;
}

input[type=text], input[type="date"], select, textarea {
    background-color: var(--color-nanolight);
    color: var(--color-white);
    border: none;
    border-radius: 0.5rem;
    font-family: inherit;
    padding: 0.4rem 0.5rem;
}
input[type=text], textarea {
    width: 100%;
    max-width: 640px;
    max-height: 200px;
    min-height: 1.1rem;
    resize: vertical;
}
input[type=text][--search] {
    
}

input:focus, select:focus, textarea:focus {
    outline: none;
}

button {
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0 30px;
    background-color: var(--color-mystge);
    color: var(--color-nano);
    border: none;
    border-radius: 4px;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    cursor: pointer;
}
button:hover {
    background-color: var(--color-nanolight);
    color: var(--color-white);
}

.form-submit {
    margin: 1.5rem 0;
}
.form-submit span {
    margin: auto 30px;
    color: red;
}

form table th {
    text-align: right;
    font-weight: normal;
    vertical-align: baseline;
}
form table th, form table td {
    line-height: 1.5rem;
    padding: 0.3rem;
}
form .row-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    max-width: 640px;
}
form .row-layout div.break {
    flex-basis: 100%;
    margin: 0;
}
form .row-layout > div {
    margin: 0 20px 10px;
}
form .row-layout p {
    margin: 0.2rem 0;
}