.home-container {
    text-align: center;
    margin: 5rem 10%;
}

.current-event-name {
    font-size: 3rem;
    margin-bottom: 0;
}
.current-event-description {
    margin-top: 1.5rem;
    font-size: 0.9rem;
    font-weight: normal;
    font-style: italic;
    color: var(--color-light-gray);
}
.current-event-timer {
    color: var(--color-light-gray);
    font-size: 1.2rem;
}

.current-event-metadata {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.current-event-metadata > div {
    min-width: 100px;
    margin: 0.3rem;
    padding: 0.3rem;
    border: 1px solid var(--color-dark-gray);
    border-radius: var(--panel-border-radius);
}
.current-event-metadata > div > * {
    margin: 10px 15px;
    font-size: 0.9rem;
}