body {
    margin: 0;
    overflow-y: scroll;
    
    font-family: 'Raleway', sans-serif;

    color: var(--color-white);
    background-color: var(--color-nano);
}

::selection {
    background-color: var(--color-mystge);
    color: var(--color-white);
}

body::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-track {
    background: var(--color-dark-gray);
}
::-webkit-scrollbar-thumb {
    background-color: var(--color-gray);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-light-gray);
}

a {
    color: var(--color-mystge);
    text-decoration: none;
}
a:hover {
    color: var(--color-mystlue);
}

h1 {
    font-weight: normal;
    line-height: 2.5rem;
}

#container {
    width: 90%;
    max-width: 960px;
    position: relative;
    margin: auto;
}

header {
    display: flex;
    flex-direction: row;
    margin: 10px 0 20px;
}
header h1 {
    position: relative;
    margin: 10px 0;
    justify-self: flex-start;
    font-size: 3.5rem;
}
header h1 img {
    position: relative;
    height: 50px;
    top: 5px;
}
header h1 .version {
    position: absolute;
    top: 44px;
    right: 0;
    color: var(--color-gray);
    font-size: 0.9rem;
}

hr {
    border-color: var(--color-gray);
}
hr.thin {
    margin: 0.2rem 0;
    border-color: var(--color-gray);
}

footer {
    margin: 2rem 0;
    text-align: center;
    font-size: 0.9em;
}
footer a {
    font-weight: bold;
    letter-spacing: 0.05em;
}
footer span {
    padding: 0 0.4rem;
}

table {
    white-space: nowrap;
}
table th {
    text-align: right;
    padding-right: 0.3rem;
}

@media (min-width: 160em) {
    #container {
        max-width: calc(2 * 960px);
    }
}