body {
    margin: 0;
    overflow-y: scroll;
    
    font-family: 'Raleway', sans-serif;

    color: var(--color-white);
    background-color: var(--color-nano);
}
*::selection {
    background-color: var(--color-mystge);
    color: var(--color-white);
}

a {
    color: var(--color-mystge);
    text-decoration: none;
}
a:hover {
    color: var(--color-mystlue);
}

h1 {
    font-weight: normal;
}

.container {
    width: 90%;
    max-width: 960px;
    position: relative;
    margin: auto;
}

header h1 {
    margin: 10px 0;
    justify-self: flex-start;
    font-size: 3.5rem;
}
header h1 img {
    position: relative;
    height: 50px;
    top: 5px;
}

header {
    display: flex;
    flex-direction: row;
    margin: 10px 0 20px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 1rem auto;
    width: fit-content;

    background-color: var(--color-dark-gray);
    border-radius: var(--panel-border-radius);
}
nav a {
    display: inline-block;
    padding: 0.4rem 1.5rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
}
nav .admin {
    border: 1px solid #7e1a1a;
    border-radius: inherit;
}

footer {
    text-align: center;
    font-size: 0.9em;
}
footer a {
    font-weight: bold;
    letter-spacing: 0.05em;
}

table {
    white-space: nowrap;
}
table th {
    text-align: right;
    padding-right: 0.3rem;
}

@media (max-width: 640px) {
    header {
        flex-direction: column;
    }
}