.post-display-options {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.post-display-options > div {
    transition: opacity 0.2s;
    opacity: 0.3;
    border-radius: 4px;
    width: 32px;
    height: 32px;
    margin: 0 5px;
    cursor: pointer;
}
.post-display-options > div > img {
    width: 100%;
}
.post-display-options > div.active, .post-display-options > div:hover {
    opacity: 1;
}

.posts {    
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    padding: 10px;
}
.posts-aspect-large {
    grid-template-columns: repeat(1, auto);
}
.posts-aspect-middle {
    grid-template-columns: repeat(2, auto);
}
.posts-aspect-small {
    grid-template-columns: repeat(3, auto);
}

@media (max-width: 640px) {
    .post-display-options {
        display: none;
    }
    .posts {
        grid-template-columns: repeat(1, auto);
    }
}

.post {
    display: flex;
    margin: 3vmin;
}
.post .post-container {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    height: fit-content;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.post .post-user {
    display: flex;
    flex-direction: row;
    cursor: default;
    background-color: var(--color-nanolight);
    align-items: center;
    height: 48px;
}
.post .post-user img {
    height: 70%;
    margin: 10% 5px;
    border-radius: 50%;
    display: inline-block;
}
.post .post-user .username {
    font-size: 0.9rem;
    margin: auto 3px;
}
.post .post-user .post-date {
    font-size: 0.8rem;
    margin: auto 10px auto auto;
    color: var(--color-nanolightlight);
}
.post .post-image img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.2s, filter 0.3s;
}