form.entry-form {
    margin: 18px auto;
}

.warning {
    padding: 1rem 1.5rem;
    width: 100%;
    max-width: 640px;
    background-color: #ffd00044;
    line-height: 1.4rem;
    border-radius: 1rem;
}