:root
{
    --color-nano: rgb(20, 20, 20);
    --color-gray-0: rgb(34, 34, 34);
    --color-gray-1: rgb(48, 48, 48);
    --color-gray-2: rgb(62, 62, 62);
    --color-gray-3: rgb(76, 76, 76);
    --color-gray-4: rgb(90, 90, 90);
    --color-gray-5: rgb(104, 104, 104);
    --color-gray-6: rgb(134, 134, 134);
    --color-gray-7: rgb(164, 164, 164);

    --color-drop-shadow: rgb(8, 8, 8);

    --color-white-muted: rgb(194, 192, 190);
    --color-white: rgb(224, 222, 220);

    --color-success: #95c046;
    --color-warning: #ffc107;
    --color-error: #b13e3e;
}