.widget {
    display: flex;

    margin: auto 0 auto auto;
    height: var(--user-widget-height);

    border-radius: calc(var(--user-widget-height) / 2);
    cursor: pointer;
}

.user-widget {
    background-color: var(--color-dark-gray);
}
.user-widget .avatar {
    height: var(--user-widget-height);
}

.user-widget .username {
    margin: auto 20px auto 10px;
}

.username {
    color: var(--color-white);
    letter-spacing: 0.05em;
}

.login-widget {
    background-color: var(--color-service-discord);
}
.login-widget:hover {
    background-color: var(--color-dark-gray);
}
.login-widget img {
    height: 80%;
    margin: auto 10px auto 2px;
}
.login-widget p {
    margin: auto 0px auto 15px;
    color: var(--color-white);
}


.avatar {
    border-radius: 50%;
}
.avatar.avatar-default {
    width: var(--user-widget-height);
    height: var(--user-widget-height);
    background-color: var(--color-mystge);
    display: flex;
}
.avatar.avatar-default p {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bolder;
    line-height: 100%;
    margin: auto;
    color: var(--color-nano);
}


.user-info {
    display: flex;
    color: var(--color-white);
    flex-direction: row;
    align-items: center;
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
}
.user-info:hover {
    color: inherit;
}
.user-info .avatar {
    height: 28px;
    width: 28px;
}
.user-info .avatar > p {
    font-size: 0.8rem;
}
.user-info > * {
    margin: 0 0.3rem;
}
.user-info > *:first-child {
    margin-left: 0;
}
.user-info .user-badge {
    padding: 0 1rem;
}


.user-list {
    width: 100%;
}
.user-list .user-info {
    width: 100%;
}
.user-list hr {
    margin: 0.2rem 0 0.4rem;
}


.user-profile {
    display: flex;
    position: relative;
    flex-direction: row;
    margin: 3rem 0;
}

.user-profile .user-info-column {
    margin: 10px;
}

.user-profile .avatar {
    display: block;
    margin: auto;
    width: 128px;
    border-radius: 50%;
}
.user-profile .avatar-default {
    height: 128px;
    display: flex;
}
.user-profile .avatar-default p {
    margin: auto;
    font-size: 2rem;
}

.user-profile .username {
    width: 200px;
    margin: 0.8rem auto;
    font-size: 1rem;
    text-align: center;
    overflow-wrap: break-word;
    letter-spacing: 0.1rem;
}

.user-profile .user-badge {
    width: 70%;
    margin: 0px auto;
}

.user-badge {
    height: 1.5rem;

    color: var(--color-white);
    border: 1px solid var(--color-white);
    border-radius: 0.75rem;

    font-size: 0.8rem;
    font-weight: bold;
    line-height: 1.5rem;
    letter-spacing: 0.08rem;
    text-align: center;
    text-transform: uppercase;
}
.user-badge.siteadministrator {
    border-color: var(--color-badge-admin);
    color: var(--color-badge-admin);
}
.user-badge.sitemoderator {
    border-color: var(--color-badge-moderator);
    color: var(--color-badge-moderator);
}
.user-badge.betatester {
    border-color: var(--color-badge-betatester);
    color: var(--color-badge-betatester);
}
.user-badge.banned {
    border-color: var(--color-badge-banned);
    color: var(--color-badge-banned);
}

.user-profile .own-display-id {
    color: var(--color-gray);
    font-size: 0.7rem;
    line-height: 1rem;
    text-align: center;
}

.user-profile .user-profile-table {
    margin: 30px 10px;
    color: var(--color-light-gray);
}

.user-profile .profile-button {
    position: absolute;
    margin: 1rem 1.5rem;
    color: var(--color-gray);
}
.user-profile .logout-button {
    bottom: 0; right: 0;
}
.user-profile .logout-button:hover {
    color: var(--color-mysted);
}

.user-profile .edit-button {
    top: 0; right: 0;
}
.user-profile .fas {
    margin-right: 0.3rem;
}
.user-profile .edit-button:hover {
    color: var(--color-light-gray);
}

.editable-avatar {
    display: block;
    position: relative;
    height: 128px;
    width: 128px;
    overflow: hidden;
    border-radius: 50%;
    background-color: var(--color-dark-gray);
}
.editable-avatar img {
    height: 100%;
}
.editable-avatar a {
    display: block;
    position: absolute;
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.6);
}
.editable-avatar + a {
    margin: 0.5rem 0;
    display: block;
    width: 128px;
    text-align: center;
}

@media (max-width: 640px) {
    .widget {
        margin: 10px auto 10px 10px;
    }

    .user-profile {
        flex-wrap: wrap;
    }
    .user-profile .user-profile-column {
        margin: 10px auto;
    }
    .user-profile .user-profile-table {
        margin: 10px;
    }
}
