.widget {
    display: flex;

    margin: auto 0 auto auto;
    height: var(--user-widget-height);

    border-radius: calc(var(--user-widget-height) / 2);
    cursor: pointer;
}

.user-widget {
    background-color: var(--color-dark-gray);
}
.user-widget .avatar {
    height: var(--user-widget-height);
}

.user-widget .username {
    margin: auto 20px auto 10px;
}

.username {
    color: var(--color-white);
    letter-spacing: 0.05em;
}

.login-widget {
    background-color: var(--color-service-discord);
}
.login-widget:hover {
    background-color: var(--color-dark-gray);
}
.login-widget img {
    height: 80%;
    margin: auto 10px auto 2px;
}
.login-widget p {
    margin: auto 0px auto 15px;
    color: var(--color-white);
}


.avatar {
    border-radius: 50%;
}
.avatar.avatar-default {
    width: var(--user-widget-height);
    height: var(--user-widget-height);
    background-color: var(--color-mystge);
    display: flex;
}
.avatar.avatar-default p {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bolder;
    line-height: 100%;
    margin: auto;
    color: var(--color-nano);
}


.user-search {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.user-search > * {
    margin: 0.3rem 0;
}


.user-info {
    display: flex;
    color: var(--color-white);
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 1rem;
    margin: 0.4rem 0;
    font-size: 1.2rem;
    width: min-content;
}
.user-info .avatar {
    height: 48px;
}
.user-info > * {
    margin: 0 0.5rem;
}
.user-info .user-badge {
    padding: 0 1rem;
}


.user-profile {
    display: flex;
    flex-direction: row;
    margin: 3rem 0;
}

.user-profile .user-info-column {
    margin: 10px;
}

.user-profile .avatar {
    display: block;
    margin: auto;
    width: 128px;
    border-radius: 50%;
}
.user-profile .avatar-default {
    height: 128px;
    display: flex;
}
.user-profile .avatar-default p {
    margin: auto;
    font-size: 2rem;
}

.user-profile .username {
    width: 200px;
    margin: 0.8rem auto;
    font-size: 1rem;
    text-align: center;
    overflow-wrap: break-word;
    letter-spacing: 0.1rem;
}

.user-profile .user-badge {
    width: 70%;
    margin: 0px auto;
}

.user-badge {
    height: 1.5rem;

    border: 1px solid white;
    border-radius: 0.75rem;

    font-size: 0.8rem;
    font-weight: bold;
    line-height: 1.5rem;
    letter-spacing: 0.08rem;
    text-align: center;
    text-transform: uppercase;
}
.user-badge.admin {
    border-color: var(--color-badge-admin);
    color: var(--color-badge-admin);
}
.user-badge.moderator {
    border-color: var(--color-badge-moderator);
    color: var(--color-badge-moderator);
}
.user-badge.banned {
    border-color: var(--color-badge-banned);
    color: var(--color-badge-banned);
}

.user-profile .own-display-id {
    color: var(--color-gray);
    font-size: 0.7rem;
    line-height: 1rem;
    text-align: center;
}

.user-profile .user-profile-table {
    margin: 30px 10px;
    color: var(--color-light-gray);
}

.user-profile .logout-button {
    padding: 0.1rem 1rem;
    margin: auto 0 0 auto;

    color: var(--color-light-gray);
    border: 1px solid var(--color-light-gray);
    border-radius: 5px;

    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.06rem;
    text-transform: uppercase;
}
.user-profile .logout-button:hover {
    color: var(--color-mysted);
    border-color: var(--color-mysted);
}

.user-admin-panel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    box-sizing: border-box;
}
.user-admin-panel > * {
    margin: 0.5rem 1.5rem;
    width: auto;
}
.user-admin-panel button[type=submit] {
    margin: auto 0 0 auto;
}
.user-admin-panel .permission-label {
    padding-right: 1rem;
    margin: 0;
}

.user-admin-panel .permission-checkbox {
    position: relative;
    width: 2rem;
    height: 1rem;
    border-radius: 0.5rem;
    background-color: #801919;
    transition: background-color 0.2s;
    cursor: pointer;
}
.user-admin-panel .permission-checkbox[checked] {
    background-color: #3b8a3b;
}
.user-admin-panel .permission-checkbox .knob {
    content: "";
    left: 0;
    transition: left 0.2s;
    position: absolute;
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--color-white);
}
.user-admin-panel .permission-checkbox[checked] .knob {
    left: 50%;
}

.user-admin-panel .group-button {
    margin: auto;
    width: 100%;
}

.user-admin-panel .user-groups-table {
    margin: 1rem;
}

@media (max-width: 640px) {
    .widget {
        margin: 10px auto 10px 10px;
    }

    .user-profile {
        flex-wrap: wrap;
    }
    .user-profile .user-profile-column {
        margin: 10px auto;
    }
    .user-profile .user-profile-table {
        margin: 10px;
    }
}
