:root 
{
    /* The following colors are constant and should not be changed by theme sheets. */

    --color-mystge: #ee720d;
    --color-mystlue: #1eaedb;
    --color-mysted: #ff4c4c;
    --color-badge-admin: #9a90ff;
    --color-badge-moderator: #90ff99;
    --color-badge-betatester: #d0d83d;
    --color-badge-banned: #bd1c1c;
    --color-service-discord: #7289DA;
    --color-service-itch: #fa5c5c;

    --user-widget-height: 48px;
    --panel-border-radius: 0.3rem;
    --sidebar-width: 200px;
    --sidebar-toggle-duration: 0.2s;

    font-size: 16px;
    line-height: 24px;
}

@media (max-width: 640px)
{
    :root 
    {
        --user-widget-height: 40px;
    }
}