:root
{
    --color-nano: #141414;
    --color-nanonotsolight: #1c1c1c;
    --color-nanolight: #222222;
    --color-nanolightlight: #777777;
    --color-white: #ffffff;
    --color-mystge: #ee720d;
    --color-mystlue: #1EAEDB;
    --color-mysted: #ff4c4c;
    --color-discord-blurple: #7289DA;
    
    --color-badge-admin: #9a90ff;
    --color-badge-banned: #bd1c1c;

    
}