@page "{code?}"
@using Microsoft.AspNetCore.WebUtilities
@{
    ViewData["Title"] = "Error";
}

<style>
    .panel.small
    {
        max-width: 100%;
    }
</style>

@{
    string code = Request.Query["code"];
}

<h2>Error @code</h2>

@{
    if (code == "403")
    {
        <div class="panel small message error">I am sorry Hal, I can't let you do that.</div>
    }
    else
    {
        <div class="panel small message error">@ReasonPhrases.GetReasonPhrase(int.Parse(code))</div>
    }

    <p>If you think this is a mystake please open an issue on our <a href="https://github.com/CodeMyst/VoteMyst/issues" target="_blank">GitHub page</a></p>
}