@page "{code?}"
@using Microsoft.AspNetCore.WebUtilities

@{
    ViewData["Title"] = "Error";
    int statusCode = int.Parse(Request.Query["code"]);
    string phrase = statusCode switch
    {
        403 => "I am sorry Hal, I can't let you do that.",
        _ => ReasonPhrases.GetReasonPhrase(statusCode)
    };
}

<h2>Error @statusCode</h2>

<div class="message small error">
    @phrase
</div>

<p>
    If you think this is a mystake please open an issue on our 
    <a href="https://github.com/CodeMyst/VoteMyst/issues" target="_blank">GitHub</a> page.
</p>