@page
@{
    ViewData["Title"] = "Legal";
}

<style>
    #legal p, #legal li {
        text-align: justify;
    }
    #legal li {
        padding-left: 0.5rem;
    }
</style>

<div id="legal">

    <h1>Terms of Services</h1>

    <p>
        You as a user are allowed to connect an account through other services such as Discord and Github.
        This account can be used to upload content to active events and vote on entries of active events. 
        By using VoteMyst you will abide to the Terms of Services of any of the possible authorization services.
    </p>

    <p>You can read more about their Terms of Services here:</p>

    <ul>
        <li><a href="https://discordapp.com/terms">Discord Terms Of Service</a></li>
        <li><a href="https://help.github.com/en/github/site-policy/github-terms-of-service">Github Terms Of Service</a></li>
        <li hidden><a href="https://itch.io/docs/legal/terms">Itch Terms Of Service</a></li>
        <li hidden><a href="https://about.gitlab.com/terms">Gitlab Terms Of Service</a></li>
    </ul>

    <p>Breaking any of the Terms of the other Services will result in immediate removal of access to VoteMyst.</p>

    <h1>Disclaimer</h1>

    <p>
        By uploading content to VoteMyst you give us unrestricted non-retractable rights to use, distribute, alter, and display the uploaded content in connection with VoteMyst. 
        Because VoteMyst is public use we cannot guarantee your content will not be copied by other users. As such we cannot be held liable in the event this happens.
    </p>
    <p>
        We reserve the right for us to terminate your account, delete your entries, and remove your votes for any reason at any point in time without prior notice.
    </p>

    <h1>Privacy</h1>

    <p>
        You are permitted to review and request removal of your personalised data. 
        All data we store is shown on your profile and can be reviewed there. 
        Removal of data is done by deleting your account on your profile. 
    </p>

    <p>What personalised data do we store;</p>

    <ol>
        <li>When connecting a service of your choice (Discord, Github, etc.) we obtain your Unique User Id on that service. This User Id is anonymised through hashing and stored for means of verification.</li>
        <li>When connecting for the first time we create a user profile with the username and avatar of connected service.</li>
    </ol>

    <p>Why do we store this data;</p>

    <ol>
        <li>Using the hashed Unique User Id of the connected services we can always guarantee we interact with the expected user.</li>
        <li>
            Your username and avatar is used to display your name and an image of your choice to identify you for other users. 
            VoteMyst copies your username and downloads your avatar from the connected service and binds it to your profile the first time you connect.
            After initial setup we only look in the VoteMyst data for your username and avatar.
        </li>
    </ol>

    <h1>Data Deletion</h1>

    <p>What do we delete when requested;</p>

    <ol>
        <li>We delete your username and avatar from our servers.</li>
    </ol>

    <p>What data do we not delete;</p>

    <ol>
        <li>The hashed Unique User Id from the other services.</li>
        <li>Entries submitted</li>
        <li>Votes cast</li>
    </ol>

    <p>Why do we not delete the data;</p>

    <ol>
        <li>Since the Unique User ID is hashed, personal details cannot be traced back with it. 
            This means that the hashed value is not deemed personalised data, and will be permanently stored to determine the account state of the user. 
            This is used to prevent ban circumvention and determine deleted accounts.</li>
        <li>By uploading you give us rights to use, distribute, alter, and display your content. This extends after your account is gone.</li>
        <li>Voting does not store personal data.</li>
    </ol>

</div>