@if (@ViewBag.IsLoggedIn)
{
    <a href="/users/me" class="widget user-widget">
        @await Component.InvokeAsync("Avatar", @ViewBag.User)
        <p class="username">@ViewBag.User.Username</p>
    </a>
}
else 
{
    <a href="/login" class="widget login-widget">
        <p>Log in with Discord</p>
        <img class="discord-logo" src="https://discordapp.com/assets/1c8a54f25d101bdc607cec7228247a9a.svg" />
    </a>
}