@{
    ViewData["Title"] = "Forbidden";
    Layout = "_Layout";
}

<div class="message small error">
    You can not view profiles while not logged in.<br />
    Please <a href="/login">log in</a> to continue.
</div>