@model UserAccount[]
@{
    ViewData["Title"] = "Search User";
    Layout = "_Layout";

    string query = @Context.Request.Query["name"];
}

<form class="inline-form" asp-controller="Users" asp-action="Search" method="GET">
    <label for="name">Username:</label>
    <input name="name" value="@query" type="text" autocomplete="off" />
    <button type="submit">Find User</button>
</form>

@if (Model != null)
{
    <hr>

    <p>@Model.Length users found.</p>

    <div class="user-list">
        @foreach (UserAccount user in Model)
        {
            <partial name="_UserInfo" for="@user" />
            <hr>
        }
    </div>
}